
battleship_view/obj/Debug/netcoreapp3.1/battleship_view.csprojAssemblyReference.cache

.vs/battleship_view/DesignTimeBuild/.dtbcache

.vs/battleship_view/v16/.suo

.vs/battleship_view/v16/Server/sqlite3/storage.ide
