@page
@model battleship_view.CreateSessionModel
@{
    ViewData["Title"] = "CreateSession";

}

    <head>
        <style>

            input[type=text], select {
                width: 40%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                resize: none;
            }

            input[type=Back] {
                width: 10%;
                background-color: gray;
                border: 1px solid #1e1c1c;
                resize: none;
                border-radius: 4px;
            }

            .listbox {
                position:fixed;
                right:2px;
                width: 350px;
                height: 300px;
                font-size: 24px;
            }

           

            input[type=submit] {
                width: 45%;
                background-color: #4CAF50;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

                input[type=submit]:hover {
                    background-color: #45a049;
                }
        </style>
    </head>
    <body>

        <h1>Create Session</h1>

        <form action="/action_page.php">
            <input type="button" value="Back" onclick="history.back()"><br /><br />
            <label for="PlayerName">Player name:</label><input type="text" id="PlayerName" name="PlayerName" placeholder="Your name..">
            <textarea style="height:200px; max-height:200px;" name="message" class="listbox">Player list</textarea><br />
            <br /><br />
            <label>Lobby code:</label> <label></label><br />
            <br /><br /><br />
        </form>
        <input type="button" value="Create lobby" onclick="SessionCode()"  id="MyButton">
        <script>
            function myFunction() {
                var x = document.getElementById("MyButton");
                if (x.innerHTML === "Create lobby") {
                    x.innerHTML = "Start Session";
                } 
            }
        </script>

    </body>
