@page
@model battleship_view.CreateFieldModel
@{
    ViewData["Title"] = "CreateField";
}

<head>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-column-gap: 200px;
            justify-items: center;
        }

        .field-grid {
            display: grid;
            grid-template-columns: repeat(10, 40px);
            grid-template-rows: repeat(10, 40px);
            background-color:#00b7ed;
        }

            .field-grid > div {
                border: #000 1px solid;
            }

        .selection-grid > div {
            border: #000 1px solid;
        }

        .selection-grid {
            position:relative;
            display: grid;
            grid-row: 1;
            grid-column: 2;
            grid-template-columns: repeat(6, 40px);
            grid-template-rows: repeat(10, 40px);
            background-color:#00b7ed;
            z-index: -1;
        }

        .selection-grid-layer {
            position: relative;
            display: grid;
            grid-row: 1;
            grid-column: 2;
            grid-template-columns: repeat(6, 40px);
            grid-template-rows: repeat(10, 40px);
        }

        .button-container1 {
            grid-column: 1;
        }

        .button-container2 {
            grid-column: 2;
        }

        .button {
            background-color: #bbb;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 25px;
            margin: 25px 2px;
            cursor: pointer;
        }

            .button:hover {
                background-color: #aaa;
            }

        .button1 {
            border-radius: 12px
        }

        .button2 {
            border-radius: 12px
        }

        .boat {
            background-color: #012758;
            grid-column: 1;
            grid-row: 1 / span 5;
            border: #000 1px solid;
            border-radius: 50%;
        }

        .boat2 {
            background-color: #012758;
            grid-column: 3 / span 4;
            grid-row: 1;
            border: #000 1px solid;
            border-radius: 50%;
        }

        .boat3 {
            background-color: #012758;
            grid-column: 3;
            grid-row: 3 / span 3;
            border: #000 1px solid;
            border-radius: 50%;
        }

        .boat4 {
            background-color: #012758;
            grid-column: 5;
            grid-row: 3 / span 3;
            border: #000 1px solid;
            border-radius: 50%;
        }

        .boat5 {
            background-color: #012758;
            grid-column: 1 / span 2;
            grid-row: 7;
            border: #000 1px solid;
            border-radius: 50%;
        }

    </style>
</head>

<h1>CreateField</h1>
<body>
    <div class="wrapper">
        <div class="field-grid">
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
        <div class="selection-grid">
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
        <div class="selection-grid-layer">
            <div> </div>
            <div class="boat"> </div>
            <div class="boat2"> </div>
            <div class="boat3"> </div>
            <div class="boat4"> </div>
            <div class="boat5"> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
            <div> </div>
        </div>
        <div class="button-container1">
            <button class="button button1"> Ready</button>
        </div>
        <div class="button-container2">
            <button class="button button2"> Rotate</button>
        </div>
    </div>
</body>
