@model battleship_view.CreateSessionModel
@{
    ViewData["Title"] = "CreateSession";

}

<head>
    <style>

        input[type=text], select {
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            resize: none;
        }

        input[type=Back] {
            width: 10%;
            background-color: gray;
            border: 1px solid #1e1c1c;
            resize: none;
            border-radius: 4px;
        }

        input[type=log] {
            width: 40%;
            margin: 8px 0;
            color: white;
            padding: 12px 20px;
            border: 1px solid #808080;
            border-radius: 4px;
            height: 200px;
        }

        input[type=submit] {
            width: 45%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }
    </style>
    <body>

        <h1>CreateSession</h1>

        <form action="/action_page.php">
            <input type="Back" value="Back"><br />
            <label for="PlayerName">Player name:</label><input type="text" id="PlayerName" name="PlayerName" placeholder="Your name..">
            <input type="log" value="Players"><br />

            <label>Lobby code:</label> <label></label><br />

            <input type="submit" value="Create lobby" onclick="SessionCode();"> <input type="submit" value="Start game">
        </form>


    </body>
</head>