@page
@model battleship_view.CreateFieldModel
@{
    ViewData["Title"] = "CreateField";
}

    <link rel="stylesheet" type="text/css" href="~/css/CreateField.css">
    <script type="text/javascript" src="~/js/CreateField.js"></script>

@Html.AntiForgeryToken()
<div class="container">
    <main role="main" class="pb-3">
        
        <h1>CreateField</h1>
        <body onload="boatPositions();">
            <div class="wrapper">
                <div class="field-grid">
                    <div id="topleft" class="field" ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                </div>
                <div class="selection-grid">
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                    <div> </div>
                </div>
                <div class="selection-grid-layer">
                    <div id="topleftselect" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div ondragstart="dragStart(event)" draggable="true" id="boat1" onclick="selectElement(this.id)"></div>
                    </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div ondragstart="dragStart(event)" draggable="true" id="boat2" onclick="selectElement(this.id)"></div>
                    </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div ondragstart="dragStart(event)" draggable="true" id="boat3" onclick="selectElement(this.id)"></div>
                    </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div ondragstart="dragStart(event)" draggable="true" id="boat4" onclick="selectElement(this.id)"></div>
                    </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div ondragstart="dragStart(event)" draggable="true" id="boat5" onclick="selectElement(this.id)"></div>
                    </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)"> </div>
                </div>
                <div class="button-container1">
                    @*<a href="/PlayingField" >*@<input type="button" class="button button1" onclick="GetCoordinates()" value="Ready" />@*</a>*@
                    <a href="/PlayingField"><input type="button" role="button" value="go to playingfield" /></a>
                </div>
                <div class="button-container2">
                    <input type="button" class="button button2" onclick="rotateElement()" value="Rotate">
                </div>
            </div>

            <table id="playerTable" class="hidden right-side">
                <thead>
                    <tr class="">
                        <th class="tableHeader">order number</th>
                        <th class="tableHeader">name</th>
                    </tr>
                </thead>
                <tbody id="players">
                </tbody>
            </table>

        </body>

    </main>
</div>