@page
@model battleship_view.CreateSessionModel
@{
    ViewData["Title"] = "CreateSession";

}

    <link rel="stylesheet" type="text/css" href="~/css/CreateSession.css">
    <script type="text/javascript" src="~/js/CreateSession.js"></script>


<div class="container">
    <main role="main" class="pb-3">
        
        <body>
            @Html.AntiForgeryToken()

            <h1>Create Session</h1>

            <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a><br /><br />
            <label for="PlayerName">Player name:</label><input type="text" id="PlayerName" name="PlayerName" placeholder="Your name..">

            <table id="playerTable" class="hidden right-side">
                <thead>
                    <tr class="">
                        <th class="tableHeader">order number</th>
                        <th class="tableHeader">name</th>
                    </tr>
                </thead>
                <tbody id="players">
                </tbody>
            </table>

            <br /><br />
            <label>Lobby code:</label> <label id="sessionContainer"></label><br />
            <br /><br /><br />
            <input type="submit" value="Create lobby" onclick="toggleView()" id="LobbyButton">
            <input type="submit" class="hidden" value="Start session" onclick="StartedSession()" id="StartButton" />

            <a class="btn btn-outline-dark" asp-area="" asp-page="/CreateField">go to create field</a>
            
        </body>


    </main>
</div>