@page
@model battleship_view.HighscoresModel
@{
    ViewData["Title"] = "Highscores";
}
<script type="text/javascript" src="~/js/Highscore.js"></script>

<style>
    h1.title-page {
        text-align: center;
        background-color: grey;
        padding: 16px 0px 16px 0px;
        border: 4px solid red;
    }

    .back {
        color: black;
        text-align: center;
        padding: 4px 32px;
        background-color: lightgrey;
    }

    table {
        width: 100%;
        border: 3px solid black;
    }

    .table_center {
        text-align: center;
        border: 2px solid black;
        width: 100px;
    }

    td {
        border: 1px solid black;
        width: 100px;
    }

    .filter {
        margin: 5px 5px 5px 5px;
    }

    .column {
        float: left;
        padding: 15px;
    }

        .column.side {
            width: 25%;
        }

        .column.middle {
            width: 50%;
        }
</style>
<body>
    @Html.AntiForgeryToken()
    <h1 class="title-page">Highscores</h1>

    <div class="column side">
        <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a>
    </div>
    <div class="column middle">
        <table>
            <thead>
                <tr>
                    <th class="table_center">#</th>
                    <th class="table_center">Name</th>
                    <th class="table_center">Shots</th>
                    <th class="table_center">Accuracy</th>
                    <th class="table_center">Hit Streak</th>
                    <th class="table_center">Boats Sunk</th>
                </tr>
            </thead>
            <tbody id="HighscoresBody">
                <tr>
                    <td colspan="6" class="table_center">Loading data ...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="column side">
        <select id="FilterField">
            <option value="shots">Shots</option>
            <option value="accuracy">Accuracy</option>
            <option value="hit_streak">Hit Streak</option>
            <option value="boats_sunk">Boats Sunk</option>
        </select>
        <select id="FilterDirection">
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
        </select>
        <button id="FilterButton">Filter</button>
        <input type="text" placeholder="search player name" id="searchBox"/>
    </div>
</body>