@page
@model battleship_view.HighscoresModel
@{
    ViewData["Title"] = "Highscores";
}

    <link rel="stylesheet" type="text/css" href="~/css/Highscores.css">
    <script type="text/javascript" src="~/js/Highscore.js"></script>

<main role="main" class="pb-3">
    <div class="container">

        @Html.AntiForgeryToken()
        <h1 class="title-page">Highscores</h1>

        <div class="row">
            <div class="col-md-1">
            <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a>
            </div>
            <div class="col-md-8">
                <table>
                    <thead>
                        <tr>
                            <th class="table_center">#</th>
                            <th class="table_center">Name</th>
                            <th class="table_center">Shots</th>
                            <th class="table_center">Hits</th>
                            <th class="table_center">Hit Streak</th>
                        </tr>
                    </thead>
                    <tbody id="HighscoresBody">
                        <tr>
                            <td colspan="6" class="table_center">Loading data ...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <select id="FilterField">
                    <option value="shots">Shots</option>
                    <option value="hits">Hits</option>
                    <option value="hit_streak">Hit Streak</option>
                </select>
                <select id="FilterDirection">
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
                <button id="FilterButton">Filter</button>
                <button id="ResetButton">Reset filters</button>
                <input type="text" placeholder="search player name" id="searchBox" />
            </div>
        </div>
    </div>
</main>