@page
@model battleship_view.HighscoresModel
@{
    ViewData["Title"] = "Highscores";
}

    <link rel="stylesheet" type="text/css" href="~/css/Highscores.css">
    <script type="text/javascript" src="~/js/Highscore.js"></script>

<div class="container">
    <main role="main" class="pb-3">
        
        <body>
            @Html.AntiForgeryToken()
            <h1 class="title-page">Highscores</h1>

            <div class="column side">
                <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a>
            </div>
            <div class="column middle">
                <table>
                    <thead>
                        <tr>
                            <th class="table_center">#</th>
                            <th class="table_center">Name</th>
                            <th class="table_center">Shots</th>
                            <th class="table_center">Accuracy</th>
                            <th class="table_center">Hit Streak</th>
                            <th class="table_center">Boats Sunk</th>
                        </tr>
                    </thead>
                    <tbody id="HighscoresBody">
                        <tr>
                            <td colspan="6" class="table_center">Loading data ...</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column side">
                <select id="FilterField">
                    <option value="shots">Shots</option>
                    <option value="accuracy">Accuracy</option>
                    <option value="hit_streak">Hit Streak</option>
                    <option value="boats_sunk">Boats Sunk</option>
                </select>
                <select id="FilterDirection">
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
                <button id="FilterButton">Filter</button>
                <button id="ResetButton">Reset filters</button>
                <input type="text" placeholder="search player name" id="searchBox" />
            </div>
        </body>

    </main>
</div>