@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <link rel="stylesheet" type="text/css" href="~/css/Index.css">

<div class="container">
    <main role="main" class="pb-3">
        
        <div class="text-center">

            <img scr="https://www.spellenrijk.nl/resize/B0995_16895009459525.jpg/0/1100/True/zeeslag-reisspel.jpg" class="figure figureLeft">
            <img scr="https://www.spellenrijk.nl/resize/B0995_16895009459525.jpg/0/1100/True/zeeslag-reisspel.jpg" class="figure figureRight">

            <h1 class="display-4">Online zeeslag</h1>


            <a href="/JoinSession">
                <input type="button" class="button buttonTop" value="Lobby joinen">
            </a>
            <a href="/CreateSession">
                <input type="button" class="button buttonTop" value="Lobby aanmaken">
            </a>

            <a href="/Highscores">
                <input type="button" class="button buttonBottom" value="Highscores">
            </a>
            <a href="/Tutorial">
                <input type="button" class="button buttonBottom" value="Tutorial">
            </a>

        </div>

    </main>
</div>