@page
@model battleship_view.JoinSessionModel
@using Entities.Models;
@{
    ViewData["Title"] = "JoinSession";
}

    <link rel="stylesheet" type="text/css" href="~/css/JoinSession.css">
    <script type="text/javascript" src="~/js/JoinSession.js"></script>

<div class="container">
    <main role="main" class="pb-3">
        

        <h1>JoinSession</h1>

        <div class="content">
            <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a>
            <div id="join" class="box">
                <div class="field">
                    <p>
                        Username:
                    </p>

                    <input maxlength="20" id="username-input" type="text" />
                </div>
                <div class="field">
                    <p>
                        Lobbycode:
                    </p>

                    <input id="lobbycode-input" type="text" />
                </div>
                <div class="join-container">
                    <button id="btnJoin" onclick="JoinSession();" class="join">Join lobby</button>
                    <button id="btnLeave" class="hidden" onclick="LeaveSession();">Leave lobby</button>
                </div>
            </div>

            <table id="playerTable" class="hidden right-side">
                <thead>
                    <tr class="">
                        <th class="tableHeader">order number</th>
                        <th class="tableHeader">name</th>
                    </tr>
                </thead>
                <tbody id="players">
                </tbody>
            </table>

            <button class="btn btn-outline-dark" id="RefreshPlayerListBtn">Reload Player List</button>
        </div>

    </main>
</div>