@page
@model battleship_view.JoinSessionModel
@using Entities.Models;
@{
    ViewData["Title"] = "JoinSession";
}

<link rel="stylesheet" type="text/css" href="~/css/JoinSession.css">

<h1>JoinSession</h1>

<div class="content">
    <a id="back" class="btn btn-outline-dark" asp-area="" onclick="window.history.go(-1); return false;">Back</a>
    <div id="join" class="box">
        <div class="field">
            <p>
                Username:
            </p>

            <input id="username-input" type="text" />
        </div>
        <div class="field">
            <p>
                Lobbycode:
            </p>

            <input id="lobbycode-input" type="text" />
        </div>
        <div class="join-container">
            <form asp-page-handler="test" method="post">
            <button onclick="JoinSession();" class="join">Join lobby</button>
                </form>
        </div>
    </div>


    <div id="lobby" class="left-side">
        <div id="username" class="field">
            <p>
                Username:
            </p>
        </div>
        <div id="lobbycode" class="field">
            <p>
                Lobbycode:
            </p>
        </div>
        <div class="leave-container">
            <a class="nav-link text-dark leave" asp-area="" asp-page="/JoinSession">Leave lobby</a>
        </div>
    </div>
            @if (ViewData["players"] as List<Player> != null)
            {<div id="players" class="right-side"> 
                <ul>
                @foreach (var p in ViewData["players"] as List<Player>)
                {
                    <li>@p.name</li>
                }
                    </ul>
            </div>
            }

    <a class="btn btn-outline-dark" asp-area="" asp-page="/CreateField">go to create field</a>
</div>

<script>
    var players = "";
    var interval = setInterval(GetPlayers, 5000);

    function JoinSession() {
        var name = $("#username-input").val();
        var sessionCode = $("#lobbycode-input").val();

        //alert(name);
        $.ajax({
            type: "Get",
            url: "JoinSession?handler=JoinHost&&name=" + name + "&&sessionCode=" + sessionCode
        });
    
}

    function GetPlayers() {
        $.ajax({
            type: "GET",
            url: "JoinSession?handler=Players",
            contentType: 'application/json; charset=utf-8',
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                players = result;
                UpdatePlayers();
            }
        });
    }

    function UpdatePlayers() {
        alert("update");
        $("#players").html("<p>" + players + "</p>");
    }

</script>