@page
@model battleship_view.PlayingFieldModel
@{
    ViewData["Title"] = "PlayingField";
}

<link rel="stylesheet" type="text/css" href="~/css/PlayingField.css">
<script type="text/javascript" src="~/js/PlayingField.js"></script>

@Html.AntiForgeryToken()
<div class="row playing_field">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="timer">Seconds: <span id="time"></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7 field_view">
                @for (int a = 0; a < 4; a += 2)
                {
                    <div class="row">
                        @for (int b = 1; b < 3; b++)
                        {
                            <div class="grid-container">
                                @for (int i = 0; i < 10; i++)
                                {
                                <div class='grid-item-row-space-divider'>
                                    @for (int j = 0; j < 10; j++)
                                    {
                                        string hitable = Model.playerId.orderNumber == (a + b) ? "" : "hitable";
                                        string activationTest = Model.players.Count() < (a + b) ? "field_miss" : hitable;
                                        <div id='square@{Write(i);}.@{Write(j);}' data-col='@{Write(i);}' data-row='@{Write(j);}' data-field='@{Write(a + b);}' class='grid-item @{Write(activationTest);} grid_coordinate'>@{Write(i + "." + j);}</div>
                                    }
                                </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>

            <div class="button_view">
                <input type="button" onclick="SendSurrender()" id="btnSurrender" class="button buttonTop" value="Surrender">
                <input type="button" onclick='SendShootCommand()' id="btShoot" class="button buttonBottom" value="Shoot">                
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <table id="tbl_players" name="message" class="listbox">
            <thead>
                <tr>
                    <th>Player List</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.players)
                {
                    string id = "player" + player.orderNumber;
                    <tr>
                        <td class="player_name_container" id="@{Write(id);}">@player.name</td>
                    </tr>
                }
            </tbody>
        </table>

        <table id="log" class="listbox">
            <thead id="log_header">
                <tr>
                    <th>Log</th>
                </tr>
            </thead>
            <tbody id="log_content">
            </tbody>
        </table>
    </div>

</div>
