@page
@model battleship_view.PlayingFieldModel
@{
    ViewData["Title"] = "PlayingField";
}

<link rel="stylesheet" type="text/css" href="~/css/PlayingField.css">
<script type="text/javascript" src="~/js/PlayingField.js"></script>

<head>
</head>


<input style="top: 110px" type="button" class="button button-midden" value="Surrender">
<input style="top: 110px" class="timer button-left" value="Stopwatch PH">


<table id="tbl_players" name="message" class="listbox">
    <thead>
        <tr>
            <th>Player List</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.players)
        {
            <tr>
                <td>@player.name</td>
            </tr>
        }
    </tbody>
</table>
<div id="log" class="listbox">
    <div id="log_header" class="row">Log</div>
    <div class="row" id="log_content">

    </div>
</div>

<form asp-page-handler="Shoot" method="post" class="playing_field">
    @for (int a = 0; a < 4; a += 2)
    {
        <div class="row">
            @for (int b = 1; b < 3; b++)
            {
                <div class="grid-container">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class='grid-item-row-space-divider'>
                            @for (int j = 0; j < 10; j++)
                            {
                                <div id='square@{Write(i);}.@{Write(j);}' data-col='@{Write(i);}' data-row='@{Write(j);}' data-field='@{Write(a+b);}' onclick='GetCoordinates(this)' class='grid-item grid_coordinate'>@{Write(i + "." + j);}</div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }

    <input asp-page-handler="Shoot" style="top: 550px" type="submit" onclick='ColorCoordinate(model.firedCoordinate.col, model.firedCoordinate.row, model.hit)' class="button button-midden" value="Shoot">


</form>


