@page
@model battleship_view.PlayingFieldModel
@{
    ViewData["Title"] = "PlayingField";
}

<link rel="stylesheet" type="text/css" href="~/css/PlayingField.css">
<script type="text/javascript" src="~/js/PlayingField.js"></script>

<head>
</head>

<div>

    <input style="top: 110px" type="button" class="button button-midden" value="Surrender">
    <input style="top: 110px" class="timer button-left" value="Stopwatch PH">


    <textarea style="height:200px; max-height:200px;" name="message" class="listbox">
            Player list
        </textarea>
    <textarea style="height:400px; max-height:400px;" name="message" class="listbox listbox-bottom">
            Log
        </textarea>

</div>

<form asp-page-handler="Shoot" method="post" class="playing_field">
    @for (int a = 0; a < 4; a += 2)
    {
        <div class="row">
            @for (int b = 1; b < 3; b++)
            {
                <div class="grid-container">
                    @for (int i = 0; i < 10; i++)
                    {
                        <div class='grid-item-row-space-divider'>
                            @for (int j = 0; j < 10; j++)
                            {
                                <div id='square@{Write(i);}.@{Write(j);}' data-col='@{Write(i);}' data-row='@{Write(j);}' data-field='@{Write(a+b);}' onclick='GetCoordinates(this)' class='grid-item'>@{Write(i + "." + j);}</div>
                            }
                        </div>
                    }
                </div>
            }
        </div>
    }

    <input asp-page-handler="Shoot" style="top: 550px" type="submit" onclick='ColorCoordinate(model.firedCoordinate.col, model.firedCoordinate.row, model.hit)' class="button button-midden" value="Shoot">


</form>


