@page
@model battleship_view.HighscoresModel
@{
    ViewData["Title"] = "Highscores";
}
    <link rel="stylesheet" href="~/css/Highscores.css" />

        <h1 class="title-page">Highscores</h1>

        <a asp-area="" asp-page="/Index"><button>Back</button></a>
        
        <div class="filter">
            <select>
                <option>Shots</option>
                <option>Accuracy</option>
                <option>Hit Streak</option>
                <option>Boats Sunk</option>
            </select>
            <select>
                <option>Asc</option>
                <option>Desc</option>
            </select>
        </div>

