
.button {
    width: 130px;
    max-width: 130px;
    height: 50px;
    max-height: 50px;
    background-color: #DDDDDD;
    border: solid;
    border-color: #000000;
    color: #000000;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.35s;
    position: fixed;
    
}

.buttonTop {
    margin-top: 5px;
}

.buttonBottom {
    margin-top: 250px;
}

.button:hover {
    background-color: #AAAAAA;
}

.playing_field{
    padding: 20px;
}

.listbox{
    width: 100%;
    float: right;
}

#tbl_players {
    height: 200px;
    max-height: 200px;
    border: 1px solid black;
    display: inline-block;
}

#tbl_players thead {
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid black;
    display: block;
}

#tbl_players tbody{
    padding: 10px;
    height: 148px;
    display: block;
}

#log {
    border: 1px solid black;
    display: inline-block;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
}

#log_header {
    padding: 10px;
    height: 50px;
    border-bottom: 1px solid black;
    display: block;
}

#log_content {
    padding: 10px;
    overflow-y: scroll;
    height: 448px;
    display: block;
}

/*Style voor de grid*/
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto 4px auto auto auto auto auto auto auto auto auto auto;
    background-color: aqua;
    padding: 3px;
}

.grid-container-bottom {
    bottom: auto;
}

.grid-item {
    width: 28px;
    max-width: 28px;
    height: 28px;
    max-height: 28px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 4px;
    font-size: 11px;
    text-align: center;
}

.grid-item-row-space-divider {
    grid-row-gap: 10px;
    background-color: aqua;
}

.grid-item.MyBoat {
    background-color: green;
}

.grid-item.hitable{
    cursor:pointer;
}

.grid-item.hitable.selectedCoordinate{
    background-color: yellow;
}

.grid-item.field_hit {
    background-color: red;
}

.grid-item.field_miss {
    background-color: gray;
}

.field_view{
    min-width: 583px;
}

.button_view{
    flex-wrap: wrap;
}

.button_view input {
    display: flex;
}

/*Style voor de timer*/
.timer {
    width: 130px;
    max-width: 130px;
    height: 50px;
    max-height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}

.activePlayer{
    color: green;
    font-weight: bold;
}