body {
}

button {
    border-radius: 5px;
    background-color: #DDDDDD;
    transition-duration: 0.35s;
}

    button:hover {
        background-color: #AAAAAA;
    }

    button:focus {
        outline: 0;
    }

input {
    width: 40%;
}

.content {
    margin-top:5%;
    text-align: center;
}

.box {
    border-style: solid;
    border-color: black;
    border-width: 1.3px;
    background-color: #f5f5f5;
    width: 40%;
    display: inline-block;
}

.join-container {
    margin-top: 4%;
    margin-bottom: 2%
}

.leave-container {
    margin-top: 4%;
    margin-bottom: 2%
}

.join {
    width: 50%;
}

.leave {
    display: inline-block;
}

.field {
    margin-top: 2%;
}

.back {
    margin-left: 75%;
    margin-bottom: 5%;
    width: 7%;
}

.left-side {
    border-style: solid;
    border-color: black;
    border-width: 1.3px;
    background-color: #f5f5f5;
    width: 40%;
    float: left;
}

.right-side {
    border-style: solid;
    border-color: black;
    border-width: 1.3px;
    background-color: #f5f5f5;
    width: 40%;
    float: right;
}

.visibile{
    display:inline-block;
}

.invisible{
    display:none;
}
