body {
}

img {
    height: 350px;
    width: auto;
}

.tutorial {
    text-align: center
}

.current-slide {
    display: flex;
    margin: auto;
    display: inline-block;
}

button {
    width: 20%;
    display: inline-block;
    margin: 5%;
    border-radius: 5px;
    background-color: #DDDDDD;
    transition-duration: 0.35s;
}

button:hover{
    background-color: #AAAAAA;
}

button:focus {
    outline:0;
}

.button-container {
    width: 60%;
    margin: auto;
    display: flex;
}

.left-side {
    padding-top: 5%;
    float: left;
}

.right-side {
    float: right;
    width: 30%;
    margin-top: 5%;
}

.explanation {
    background-color: lightgoldenrodyellow;
    margin-top: 5%;
}

